# Basic Connection Settings
spring.profiles.active=prod
spring.datasource.url=jdbc:h2:mem:testdb
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=password

# Enable Web Console (Accessible at /h2-console)
spring.h2.console.enabled=true

# JPA/Hibernate Settings
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=update
springdoc.api-doc.path=/api-docs

# nivel global
logging.level.root=INFO
# nivel especifico do spring
logging.level.org.springframework=WARN
# nivel do seu pacote
logging.level.br.ifmg.produto1_2026.service=ERROR
# nivel especifico do spring
logging.level.org.hibernate=WARN

logging.file.name= logs/app.log

spring.mail.host=${EMAIL_HOST:smtp.gmail.com}
spring.mail.port=${EMAIL_PORT:587}
spring.mail.username=${EMAIL_USERNAME:}
spring.mail.password=${EMAIL_PASSWORD}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

security.client-id=${CLIENT_ID:myclientid}
security.client-secret=${CLIENT_SECRET:myclientsecret}

security.jwt.duration=${JWT_DURATION:86400}

cors.origins=${CORS_ORIGINS:http://localhost:8080}